@media(max-width: 300px) {
    .buttons {
        display: block;
       color: rgb(166, 41, 41);

    }
    .favs{
       text-align: center;
    align-items: center;
    color: rgb(166, 41, 41);
    }
    .h1{
        display: none;
     }
 }

.buttons{
    align-items: center;
    align-content: center;
font-size: 0.6rem;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}
.favs{
    padding: 2rem;
    margin: 2rem;
    border-radius:3rem;
    width: 30%;
    display:inline-block;

}